Assignment operators

In [ ]:
a=10
print(a)
a+=3
print(a)
a+=3
print(a)
a-=4
print(a)
a/=5
print(a)
a*=3
print(a)
a//=3
print(a)
a=10
print(a>>1)
print(a)
print(a>>2)

10
13
16
12
2.4
7.199999999999999
2.0
5
10
2

In [ ]:
a=int(input("enter the number"))
n=1
while n<=10:
  pro=a*n
  print(pro)
  n=n+1

enter the number5
5
10
15
20
25
30
35
40
45
50

In [ ]:
x=int(input("number="))
for c in range(1,11,1):
   pro=x*c
   print(x,"X",c,"=",pro )

number=5
5 X 1 = 5
5 X 2 = 10
5 X 3 = 15
5 X 4 = 20
5 X 5 = 25
5 X 6 = 30
5 X 7 = 35
5 X 8 = 40
5 X 9 = 45
5 X 10 = 50

In [ ]:
import random
print("Welcome to Hand cricket")
sum=0
for i in range(1,7,1):
 x=int(input("Enter the number"))
 y=random.randint(1,6)
 if x==y:
  print("out")
  print(x)
  print(y)
  break
 else:
  sum=sum+x
  print(x)
  print(y)
print("Total=",sum)

Welcome to Hand cricket
Enter the number2
2
4
Enter the number1
1
5
Enter the number3
3
4
Enter the number2
out
2
2
Total= 6