Lists

In [ ]:
lis=['shri','hari','jo','shi']
print(lis)
print(len(lis))
lis2=['b','v','b']
print(lis2)
print(len(lis2))
lis3=lis+lis2
print(lis3)
print(len(lis3))
lis=['hi','my','self','shrihari','joshi']
lis.append("dwd")
lis[3]

['shri', 'hari', 'jo', 'shi']
4
['b', 'v', 'b']
3
['shri', 'hari', 'jo', 'shi', 'b', 'v', 'b']
7

'shrihari'

Tuples

In [ ]:
tuple1=("Hubli","dharwad","blgm")
print(tuple1[0])
print(tuple1[1])
print(tuple1[2])
print(tuple1[-1])
print(tuple1[-2])
print(tuple1[-3])
tuple2=("bglr","mnglr","dvngri")
tuple3=tuple1+tuple2
tuple4=tuple3*2
y=tuple4.index('dharwad')
print(y)
x=tuple4.count('dharwad')
print(x)
tuple4

Hubli
dharwad
blgm
blgm
dharwad
Hubli
1
2

('Hubli',
 'dharwad',
 'blgm',
 'bglr',
 'mnglr',
 'dvngri',
 'Hubli',
 'dharwad',
 'blgm',
 'bglr',
 'mnglr',
 'dvngri')

sets

In [ ]:
set1={"v","i","b","g","y"}
print(set1)
set2={"o","r"}
print(set2)
set1.update(set2)
set1

{'y', 'g', 'v', 'i', 'b'}
{'r', 'o'}

{'b', 'g', 'i', 'o', 'r', 'v', 'y'}

Dictionary

In [ ]:
dict1={"name":"S","age":"22"}
dict1

{'name': 'S', 'age': '22'}

In [ ]:
dic1=dict(name="s",age="22",)
dict1

{'name': 'S', 'age': '22'}

In [ ]:
x=int(input("enter the bill"))
if x<100:
  bill=x*12.5
elif x>100 and x<200:
  bill=x*15
else :
  bill=x*1000
print(bill)

enter the bill125
1875

In [ ]:
from ast import IfExp
x=int(input("enter number"))
if x>0:
  if x%2==0:
    print("its + and even")
  else:
    print("its + and odd")
elif x<0 :
  if x%2==0:
     print( "is - and even")
  else :
    print("- and odd")

In [ ]:
year = int(input("Enter a year: "))

if year % 4 == 0 and (year % 100 != 0 or year % 400 == 0):
    print(f"{year} is a leap year")
else:
    print(f"{year} is not a leap year")